# Database
DATABASE_URL="postgresql://user:password@localhost:5432/geek?schema=public"
# Para desenvolvimento rápido com SQLite:
# DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_SECRET="troque-por-um-segredo-forte-e-aleatorio"
NEXTAUTH_URL="http://localhost:3000"
